In [82]:
import warnings
warnings.filterwarnings("ignore")

In [90]:
import pandas as pd
import numpy as np

loading the raw data

In [33]:
loaded_data=pd.read_csv(r"C:\Users\user\Desktop\The_-Ocean_CleanUp\data\raw\global_riverine_plastic_emissions_into_ocean.csv")

check the first 5 rows of data

In [34]:
loaded_data.tail()

,Country or Administrative area,Area [km2],Coast length [km],Rainfall [mm year -1],Factor L/A [-],Factor (L/A) *P [-],P[E] [%],MPW (metric tons year -1),M[E] (metric tons year -1),Ratio Me/MPW,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
160,Venezuela,912'557,2'800,1'875,0.0030,6.0,0.39%,671'431,5'988,0.89%,NaN,NaN,NaN,NaN
161,Vietnam,327'732,3'444,1'772,0.0100,19.0,1.60%,1'112'790,28'221,2.54%,NaN,NaN,NaN,NaN
162,Western Sahara,266'830,111,35,0.0004,0.0,0.11%,4'114,38,0.91%,NaN,NaN,NaN,NaN
163,Yemen,419'900,1'906,112,0.0050,1.0,0.07%,291'737,252,0.09%,NaN,NaN,NaN,NaN
164,Zimbabwe,390'648,1'906,665,0.0050,3.0,0.00%,524'865,0,0.00%,NaN,NaN,NaN,NaN

identify the basic information of the data

In [35]:
loaded_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country or Administrative area  163 non-null    object
 1   Area [km2]                      163 non-null    object
 2   Coast length [km]               163 non-null    object
 3   Rainfall [mm year -1]           163 non-null    object
 4   Factor L/A [-]                  163 non-null    float64
 5   Factor (L/A) *P [-]             163 non-null    float64
 6   P[E] [%]                        163 non-null    object
 7   MPW (metric tons year -1)       163 non-null    object
 8   M[E] (metric tons year -1)      163 non-null    object
 9   Ratio Me/MPW                    163 non-null    object
 10  Unnamed: 10                     0 non-null      float64
 11  Unnamed: 11                     0 non-null      float64
 12  Unnamed: 12                     0 non-null      float64
 13  Unnamed: 13                     0 non-null      float64
dtypes: float64(6), object(8)
memory usage: 18.2+ KB

In [36]:
loaded_data.describe

<bound method NDFrame.describe of     Country or Administrative area Area [km2] Coast length [km]  \
0                          Albania     28'486               362
1                          Algeria  2'316'559               998
2                           Angola  1'247'357             1'600
3              Antigua and Barbuda        443               153
4                        Argentina  2'779'705             4'989
..                             ...        ...               ...
160                     Venezuela     912'557             2'800
161                       Vietnam     327'732             3'444
162                Western Sahara     266'830               111
163                          Yemen    419'900             1'906
164                       Zimbabwe    390'648             1'906

    Rainfall [mm year -1]  Factor L/A [-]  Factor (L/A) *P [-] P[E] [%]  \
0                   1'117          0.0100                 14.0    1.56%
1                      80          0.0004                  0.0    0.09%
2                   1'025          0.0010                  1.0    0.09%
3                     996          0.3000                344.0    3.08%
4                     567          0.0020                  1.0    0.26%
..                    ...             ...                  ...      ...
160                 1'875          0.0030                  6.0    0.39%
161                 1'772          0.0100                 19.0    1.60%
162                    35          0.0004                  0.0    0.11%
163                   112          0.0050                  1.0    0.07%
164                   665          0.0050                  3.0    0.00%

    MPW (metric tons year -1) M[E] (metric tons year -1) Ratio Me/MPW  \
0                      69'833                      1'565        2.24%
1                     764'578                      5'774        0.76%
2                     236'946                        860        0.36%
3                         627                          2        0.29%
4                     465'808                      4'137        0.89%
..                        ...                        ...          ...
160                   671'431                      5'988        0.89%
161                 1'112'790                     28'221        2.54%
162                     4'114                         38        0.91%
163                   291'737                        252        0.09%
164                   524'865                          0        0.00%

     Unnamed: 10  Unnamed: 11  Unnamed: 12  Unnamed: 13
0            NaN          NaN          NaN          NaN
1            NaN          NaN          NaN          NaN
2            NaN          NaN          NaN          NaN
3            NaN          NaN          NaN          NaN
4            NaN          NaN          NaN          NaN
..           ...          ...          ...          ...
160          NaN          NaN          NaN          NaN
161          NaN          NaN          NaN          NaN
162          NaN          NaN          NaN          NaN
163          NaN          NaN          NaN          NaN
164          NaN          NaN          NaN          NaN

[165 rows x 14 columns]>

identify the datatype of each column

In [37]:
loaded_data.tail()

,Country or Administrative area,Area [km2],Coast length [km],Rainfall [mm year -1],Factor L/A [-],Factor (L/A) *P [-],P[E] [%],MPW (metric tons year -1),M[E] (metric tons year -1),Ratio Me/MPW,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
160,Venezuela,912'557,2'800,1'875,0.0030,6.0,0.39%,671'431,5'988,0.89%,NaN,NaN,NaN,NaN
161,Vietnam,327'732,3'444,1'772,0.0100,19.0,1.60%,1'112'790,28'221,2.54%,NaN,NaN,NaN,NaN
162,Western Sahara,266'830,111,35,0.0004,0.0,0.11%,4'114,38,0.91%,NaN,NaN,NaN,NaN
163,Yemen,419'900,1'906,112,0.0050,1.0,0.07%,291'737,252,0.09%,NaN,NaN,NaN,NaN
164,Zimbabwe,390'648,1'906,665,0.0050,3.0,0.00%,524'865,0,0.00%,NaN,NaN,NaN,NaN

In [38]:
print(loaded_data.dtypes)

Country or Administrative area     object
Area [km2]                         object
Coast length [km]                  object
Rainfall [mm year -1]              object
Factor L/A [-]                    float64
Factor (L/A) *P [-]               float64
P[E] [%]                           object
MPW (metric tons year -1)          object
M[E] (metric tons year -1)         object
Ratio Me/MPW                       object
Unnamed: 10                       float64
Unnamed: 11                       float64
Unnamed: 12                       float64
Unnamed: 13                       float64
dtype: object

removing rows with value of NaN or null or missing value

In [143]:
loaded_data.dropna(axis=1,how="all",inplace=True)

In [40]:
loaded_data.head()

,Country or Administrative area,Area [km2],Coast length [km],Rainfall [mm year -1],Factor L/A [-],Factor (L/A) *P [-],P[E] [%],MPW (metric tons year -1),M[E] (metric tons year -1),Ratio Me/MPW
0,Albania,28'486,362,1'117,0.0100,14.0,1.56%,69'833,1'565,2.24%
1,Algeria,2'316'559,998,80,0.0004,0.0,0.09%,764'578,5'774,0.76%
2,Angola,1'247'357,1'600,1'025,0.0010,1.0,0.09%,236'946,860,0.36%
3,Antigua and Barbuda,443,153,996,0.3000,344.0,3.08%,627,2,0.29%
4,Argentina,2'779'705,4'989,567,0.0020,1.0,0.26%,465'808,4'137,0.89%

make the appropraite numeric value

In [144]:
# Step 1: Clean the column to remove any commas or apostrophes (optional but often needed)
loaded_data["M[E] (metric tons year -1)"] = (
    loaded_data["M[E] (metric tons year -1)"]
    .astype(str)
    .str.replace(",", "", regex=False)
    .str.replace("'", "", regex=False)
)

In [145]:
# Now convert to numeric (float), force errors to NaN
loaded_data['M[E] (metric tons year -1)'] = pd.to_numeric(
    loaded_data['M[E] (metric tons year -1)'], errors='coerce'
)

creating a new column with the name 'plastic_contribution' based on the value of "MPW (metric tons year -1)"

In [146]:
loaded_data['plastic_contribution'] = loaded_data['M[E] (metric tons year -1)'].apply(
    lambda x: 0 if x > 6008 else 1
)

In [147]:
loaded_data.tail()

,Country or Administrative area,Area [km2],Coast length [km],Rainfall [mm year -1],Factor L/A [-],Factor (L/A) *P [-],P[E] [%],MPW (metric tons year -1),M[E] (metric tons year -1),Ratio Me/MPW,plastic_contribution
160,Venezuela,912'557,2'800,1'875,0.0030,6.0,0.39%,671'431,5988.0,0.89%,1
161,Vietnam,327'732,3'444,1'772,0.0100,19.0,1.60%,1'112'790,28221.0,2.54%,0
162,Western Sahara,266'830,111,35,0.0004,0.0,0.11%,4'114,38.0,0.91%,1
163,Yemen,419'900,1'906,112,0.0050,1.0,0.07%,291'737,252.0,0.09%,1
164,Zimbabwe,390'648,1'906,665,0.0050,3.0,0.00%,524'865,0.0,0.00%,1

## devided the dataset into target variabe and predictors

In [148]:
y=loaded_data['plastic_contribution']   #for target varible

In [149]:
x=loaded_data.drop(inplace=False,axis=1,columns=['plastic_contribution','Country or Administrative area'])  # for predictor variables

In [150]:
# Clean all columns in x by removing commas and apostrophes
x = x.apply(lambda col: col.astype(str).str.replace(",", "").str.replace("'", ""))

# Convert all columns to numeric (coerce errors to NaN)
x = x.apply(pd.to_numeric, errors='coerce')

## normalize the dataset

In [151]:
from sklearn.preprocessing import StandardScaler

In [152]:
# create scaler object
scale=StandardScaler()

# fit the data and transform
x_scaled=scale.fit_transform(x)

In [153]:
x_scaled

array([[-0.34133711, -0.23105549, -0.14300905, ..., -0.21108758,
        -0.14400758,         nan],
       [ 0.77560196, -0.19388888, -1.38968064, ...,  0.2632892 ,
        -0.00761347,         nan],
       [ 0.25366342, -0.15870917, -0.25361058, ..., -0.09698165,
        -0.16685335,         nan],
       ...,
       [-0.2249878 , -0.24572344, -1.44377922, ..., -0.25596098,
        -0.19349055,         nan],
       [-0.15026559, -0.14082712, -1.35121055, ..., -0.05956997,
        -0.18655581,         nan],
       [-0.16454516, -0.14082712, -0.68639917, ...,  0.09961147,
        -0.19472195,         nan]])

## split the dataset to traning and testing dataset to train the ML model

In [154]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42)

In [155]:
x_train = np.nan_to_num(x_train)
x_test = np.nan_to_num(x_test)

## train  the ML model

In [156]:


#create LogisticRegression model
model=LogisticRegression()

# train the lr model with the training data
model.fit(x_train,y_train)

#get predict from the model using testing data
y_predict=model.predict(x_test)

## Evaluation of the model

In [157]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
# evaluation using accuracy
accuracy=accuracy_score(y_test,y_predict)

# evaluation using precition,recall and F1
report=classification_report(y_test,y_predict)

In [104]:
accuracy

0.9393939393939394

In [106]:
report

'              precision    recall  f1-score   support\n\n           0       1.00      0.50      0.67         4\n           1       0.94      1.00      0.97        29\n\n    accuracy                           0.94        33\n   macro avg       0.97      0.75      0.82        33\nweighted avg       0.94      0.94      0.93        33\n'

In [158]:
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_validate


pipeline = make_pipeline(
    SimpleImputer(strategy='mean'),  # Fill missing values with mean
    StandardScaler(),                 # Scale features
    LogisticRegression()             # Logistic Regression model
)
scoring = ['accuracy', 'precision', 'recall', 'f1']

results = cross_validate(pipeline, x_scaled, y, cv=5, scoring=scoring)

print("Accuracy:", np.mean(results['test_accuracy']))
print("Precision:", np.mean(results['test_precision']))
print("Recall:", np.mean(results['test_recall']))
print("F1-score:", np.mean(results['test_f1']))

Accuracy: 0.9515151515151515
Precision: 0.9503543499511242
Recall: 1.0
F1-score: 0.9740877842411422

## Finding best predictor variables

In [168]:

from sklearn.feature_selection import SelectKBest, f_classif

# Save the column names 
feature_columns = x.columns


# Feature selection (top 5)
selector = SelectKBest(score_func=f_classif, k=5)
x_selected = selector.fit_transform(x_scaled, y)

# Get selected feature names using boolean mask on `feature_columns`
selected_features = feature_columns[selector.get_support()]
print("Top 5 features:", list(selected_features))

Top 5 features: ['Area [km2]', 'Rainfall [mm year -1]', 'Factor L/A [-]', 'MPW (metric tons year -1)', 'M[E] (metric tons year -1)']

## saving the model

In [173]:

import joblib

joblib.dump(model,"PlasticContributionClassifier.joblib")

['PlasticContributionClassifier.joblib']